<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/dist/jquery.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script type="text/javascript" src="/webjars/vue/2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css"/>
</head>
<body>
<div id="app"class="container">
    <div class="form-group">
        <label>员工编号</label>
        <input disabled class="form-control" v-model="emp.empId"/>
    </div>
    <div class="form-group">
        <label>姓名</label>
        <input  class="form-control" v-model="emp.name"/>
    </div>
    <div class="form-group">
        <label>手机号码</label>
        <input  class="form-control" v-model="emp.phone"/>
    </div>
    <div class="form-group">
        <label>邮箱</label>
        <input  class="form-control" v-model="emp.email"/>
    </div>

</div>
<script>
    new Vue({
        el:"#app",
        data(){
            return{
                emp:{
                    id:"",
                    name:"",
                    empId:"",
                    phone:"",
                    email:""
                }
            }
        },mounted(){
            alert(decodeURI(window.location.search.split("name=")[1]))
        }
    })
</script>
</body>
</html>